<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%- include('../partials/head.ejs') %>
<body>
<%- include('../partials/header.ejs') %>
<h1>EDITAR PRODUCTO </h1>
<form action="/edit/<%= producto.ID_producto%>" method="post" enctype="multipart/form-data">
    <div class="inf_contacto-box" >
        <li class="inf_contacto-block">
            <input value="<%= producto.Nombre_Producto%>" class=".inf_contacto-block-1" type="text" placeholder="Nombre del producto" name="nombre">
            <% if (locals.errors && errors.nombre) { %>
                <div class="text-danger">
                    <label><%= errors.nombre.msg %></label>
                </div>
            <% } %>
        </li>
    </div>

    <div class="inf_contacto-box" >
        <li class="inf_contacto-block">
            <input value="<%= producto.Marca%>" class=".inf_contacto-block-1" type="text" placeholder="Marca del producto" name="marca">
            <% if (locals.errors && errors.marca) { %>
                <div class="text-danger">
                    <label><%= errors.marca.msg %></label>
                </div>
            <% } %>
        </li>
    </div>

    <div class="inf_contacto-box" >
        <li class="inf_contacto-block">
            <textarea  name="descripcion" rows="7" cols="auto"><%= producto.Descripcion%></textarea>
            <% if (locals.errors && errors.descripcion) { %>
                <div class="text-danger">
                    <label><%= errors.descripcion.msg %></label>
                </div>
            <% } %>
        </li>
    </div>

    <div class="inf_contacto-box" >
        <li class="inf_contacto-block">
            <!--<input class=".inf_contacto-block-1" t placeholder="Componentes del producto" name="componentes"> -->
            <textarea name="componentes"  rows="7" cols="auto"><%= producto.Componentes%></textarea>
            <% if (locals.errors && errors.componentes) { %>
                <div class="text-danger">
                    <label><%= errors.componentes.msg %></label>
                </div>
            <% } %>
        </li>
        
    </div>
    <div class="inf_contacto-box" >
        <li class="inf_contacto-block">
            <input value="<%= producto.Precio%>" class=".inf_contacto-block-1" type="number" placeholder="Valor del producto" name="precio">
        </li>
        <% if (locals.errors && errors.precio) { %>
            <div class="text-danger">
                <label><%= errors.precio.msg %></label>
            </div>
        <% } %>
        <li class="inf_contacto-block">
            <input   value="<%= producto.Unidades%>" class=".inf_contacto-block-1" type="number" placeholder="Unidades" name="unidades">
        </li>
        <% if (locals.errors && errors.unidades) { %>
            <div class="text-danger">
                <label><%= errors.unidades.msg %></label>
            </div>
        <% } %>

    </div>

    <div class="inf_contacto-box">
        <li class="inf_contacto-block">
            <select  class="" name="category" id="">
                <% for (let  i = 0  ; i<categoria.length ; i++ ) { %>
                <option value="<%= categoria[i].idcategoria %>"> <%= categoria[i].nombre %> </option>
                <% } %>
            </select>
        </li>     
    </div>

    <div class="inf_contacto-box" >
        <label for=""><h2>Imagenes del producto</h2></label>
        <li class="inf_contacto-block">
            <input class=".inf_contacto-block-1" type="file" name="img">
        </li>
    </div>
    
    <div class="button_contenedor">
        <button class="button" type="submit">EDITAR</button> 
    </div>
</form>
<form action="/borrar/<%= producto.ID_producto%>" method="post" >
    <div class="button_contenedor">
        <button class="button" type="submit">BORRAR PRODUCTO</button> 
    </div>
</form>
<%- include('../partials/footer.ejs') %>
    
</body>
</html>