<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
            <h1>NUEVO PRODUCTO</h1>
            <form action="/newProduct" method="post" enctype="multipart/form-data">
                <div class="inf_contacto-box">
                    <li class="inf_contacto-block">
                        <input class=".inf_contacto-block-1" type="text" placeholder="Nombre del producto"
                         value="<%= locals.oldData ? oldData.nombre : null %>" name="nombre">
                         <span class="error"><% if (locals.errors && errors.nombre) { %>
                            <%= errors.nombre.msg %>
                            <% } %>
                        </span>
                    </li>
							
                </div>

                <div class="inf_contacto-box">
                    <li class="inf_contacto-block">
                        <input class=".inf_contacto-block-1" type="text" placeholder="Marca del producto" name="marca"
                        value="<%= locals.oldData ? oldData.marca : null %>" >
                        <span class="error"><% if (locals.errors && errors.marca) { %>
                            <%= errors.marca.msg %>
                            <% } %>
                        </span>
                    </li>
                </div>

                <div class="inf_contacto-box">
                    <li class="inf_contacto-block">
                        <textarea name="descripcion" rows="7" cols="auto" 
                        value="<%= locals.oldData ? oldData.descripcion : null %>">Descripcion del producto</textarea>
                        <span class="error"><% if (locals.errors && errors.producto) { %>
                            <%= errors.producto.msg %>
                            <% } %>
                        </span>
                        
                    </li>
                </div>

                <div class="inf_contacto-box">
                    <li class="inf_contacto-block">
                        <!--<input class=".inf_contacto-block-1" t placeholder="Componentes del producto" name="componentes"> -->
                        <textarea name="componentes" rows="7" cols="auto"
                        value="<%= locals.oldData ? oldData.componentes : null %>">Componentes del producto</textarea>
                        <span class="error"><% if (locals.errors && errors.componentes) { %>
                            <%= errors.componentes.msg %>
                            <% } %>
                        </span>
                        
                    </li>

                </div>
                <div class="inf_contacto-box">
                    <li class="inf_contacto-block">
                        <input class=".inf_contacto-block-1" type="number" placeholder="Valor del producto"
                            name="precio" value="<%= locals.oldData ? oldData.precio : null %>">
                            <span class="error"><% if (locals.errors && errors.precio) { %>
                                <%= errors.precio.msg %>
                                <% } %>
                            </span>
                    </li>
    
                    <li class="inf_contacto-block">
                        <input class=".inf_contacto-block-1" type="number" placeholder="Unidades" name="unidades"
                        value="<%= locals.oldData ? oldData.unidades : null %>">
                        <span class="error"><% if (locals.errors && errors.unidades) { %>
                            <%= errors.unidades.msg %>
                            <% } %>
                        </span>
                    </li>
                    

                </div>

                <div class="inf_contacto-box">
                    <li  class="inf_contacto-block">
                        <select class="" name="categoria" id="">
                            <% for (let i=0 ; i<categoria.length ; i++ ) { %>
                                <option  name="categoria" value="<%= categoria[i].idcategoria %>">
                                    <%= categoria[i].nombre %>
                                </option>
                                <% } %>
                        </select>
                    </li>
                </div>

                <div class="inf_contacto-box">
                    <label for="">
                        <h2>Imagenes del producto</h2>
                    </label>
                    <li class="inf_contacto-block">
                        <input class=".inf_contacto-block-1" type="file" placeholder="Valor del producto" name="img">
                        <span class="error"><% if (locals.errors && errors.img) { %>
                            <%= errors.img.msg %>
                            <% } %>
                        </span>
                    </li>
                    
                </div>

                <div class="button_contenedor">
                    <button class="button" type="submit">Agregar</button>
                    <button class="button" type="reset">Cancelar</button>
                </div>

            </form>

            <%- include('../partials/footer.ejs') %>
            <script src="/validaciones.js"></script>

    </body>

</html>